.subtitle {
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
    color: gray;
}

.timelineContainer {
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.timelineTitle {
    font-weight: 300;
    font-size: -webkit-calc(2vw + 20px);
	font-size: -moz-calc(2vw + 20px);
	font-size: calc(2vw + 20px);
    margin-bottom: 5vw;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 100px 0;
}

.content > b {
    color: white;
}

.content > p {
    color: white;
}